/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2017, 1:55:20 PM
    Author     : seb
*/
html,body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
    padding:0;
    margin:0;
}
li>a{
    text-decoration: none;
    color:black;
}
.socialIcons{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.socialIcons>li{
    margin:5px;
}
header{
    /*background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/background.jpg') no-repeat center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
}
header>h1,h3{
    margin:0;
}
header>h3{
    font-weight: 200;
    margin-bottom: 20px;;
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color:white;
    text-align: center;
    background-color: black;
    height:120px;
    width:120px;
    border:2px solid white;
}
/*.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}*/
#snowfall {
    height: 100%;
    width:100%;
    position: absolute;
}